name: sync-fork-and-add-tag
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch: { }
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
      - name: Sync fork and possibly tag
        run: |
          prev_head=$(git rev-parse HEAD)
          gh repo sync "$REPOSITORY" -b "$BRANCH_NAME"
          new_head=$(git rev-parse HEAD)
          if [ "$prev_head" != "$new_head" ]; then
            echo "New commits found; creating a date-based tag..."
            date_tag="v$(date +'%Y.%m.%d')"
            # Check if the tag already exists
            if git rev-parse "refs/tags/$date_tag" >/dev/null 2>&1; then
              echo "Tag $date_tag already exists. Skipping."
            else
              git tag "$date_tag"
              git push origin --tags
            fi
          else
            echo "No new commits. Skipping tag creation."
          fi
        env:
          REPOSITORY: ${{ github.repository }}
          BRANCH_NAME: ${{ github.ref_name }}
